<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dco</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }
        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #ffffff;
            color: #000000;
            transition: all 0.3s;
        }
        #sidebar.active {
            margin-left: -250px;
        }
        #sidebar .sidebar-header {
            padding: 20px;
            background: #ffffff;
        }
        #sidebar .list-group-item {
            background: none;
          
            border: none;
           margin: 0 9px 0 9px;
           border-radius: 10px;
            color: #000000;
        }
        #sidebar .list-group-item1{
            margin: 10px 0 0 0;
        }
        #sidebar .list-group-item a{
            text-decoration: none;
        }
        #sidebar .list-group-item:hover {
            
            background: #EDF1F7;
        }
        #sidebar .dropdown-menu {
            background: #ffffff;
            border: none;
        }
        #sidebar .dropdown-item {
            color: #020202;
        }
        #sidebar .dropdown-item:hover {
            background: #ffffff;
        }
        #content {
            flex: 1;
            padding: 10px;
            overflow: auto;
        }
        .navbar {
            background: #ffffff;
            color: #000000;
        }
       
            .logo{
            z-index: 1000;
            position: absolute;
            bottom: 10%;
            left:2.5%; 
        }

    </style>
</head>
<body>

    <div id="sidebar" class="bg-white">
        <div class="sidebar-header text-center py-4">
            <h3>GAle</h3>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item"><a href="/admin/dashboard" class="text-#012970 font-semibold ">Dashboard</a></li>
            <li class="list-group-item"><a href="/admin/geo" class="text-#012970 font-semibold ">Map</a></li>
            <li class="list-group-item"><a href="/admin/calendar" class="text-#012970 font-semibold ">Calendar</a></li>
            <!-- <li class="list-group-item"><a href="#" class="text-white">Clients</a></li> -->
            <li class="list-group-item">
                <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-#012970 font-semibold">User Management</a>
                <ul class="collapse list-unstyled" id="userSubmenu">
                    <li class="list-group-item1">
                        <a href="/admin/users" class="text-#012970 m-0 p-0 font-semibold">Users</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a href="#userSubmenuu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-#012970 font-semibold">Settings</a>
                <ul class="collapse list-unstyled" id="userSubmenuu">
                    
                    <li class="list-group-item1 text-#012970">

                        <form action="/logout" method="post">

                            <button type="submit" class="text-#012970 m-0 p-0 font-semibold">Logout</button>
                        </form>
                       
                    </li>
                </ul>
            </li>
            <li>
    <img src="/assets/sv_logo-removebg-preview.png" alt="Logo"class="logo" width="160px" height="70px" >
</li>
            <!-- <li class="list-group-item"><a href="#" class="text-white">Settings</a></li> -->
        </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
        });
    </script>
</body>
</html>