<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/calendar" method="post"> 
        <center><h1>Attendance</h1></center>
        <label for="da">Enter Date</label>
        <input type="date" name="date" id="da">
        <button type="submit">Generate</button>
    </form>
</body>
</html>