<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DASHBOARD</h1>
    <h3>total No of users</h3>
    <p><%= nou  %></p>
    <h3>No of Users Logged IN</h3>
    <p><%= loggedInUsers - 1  %></p>
    <h3>No of Users Logged OUT</h3>
    <p><%= loggedOutUsers  %></p>
</body>
</html>